.popup__createcardclose {
    width: 58px;
    height: 58px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-image: url('../../../images/CloseIcon.png');
    margin-top: -84%;
    margin-right: -107%;
}

@media screen and (max-width: 600px) {
    .popup__createcardclose {
        margin-top: -103%;
        margin-right: -110%;
    }
  }

  @media screen and (max-width: 400px) {
    .popup__createcardclose {
        margin-top: -114%;
        margin-right: -115%;
    }
  }

.popup__createcardclose:hover {
    opacity: .6;
    transition: .3s;
}