.form__about {
    height: 40px;
    border: none;
    margin-top: 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    width: 358px;
}

@media screen and (max-width: 400px) {
    .form__about {
        margin-top: 10px;
        font-size: 12px;
    }
  }

.form__about::-webkit-input-placeholder {
    color: #000;
};

.form__about::-moz-placeholder {
    color: #000;
};