.popup__imagescaleclose {
    width: 58px;
    height: 58px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    background-image: url('../../../images/CloseIcon.png');
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
    margin-left: -10px;
    margin-bottom: -10px;
}