@import url(../header/__logo/header__logo.css);

.header {
    max-width: 882px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 400px) {
    .header {
        width: 100%;
    }
}
